/* Call to Action Button */
.cta-btn {
  padding: rem(9) rem(20);
  border: unset;
  border-radius: rem(15);
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 600;
  font-size: $small-font-size;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: all 250ms;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  gap: rem(5);
  cursor: pointer;

  @include breakpoints(large) {
    font-size: $default-font-size;
    padding: rem(11) rem(21);
  }
}

.cta-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.cta-btn:hover {
  color: #e8e8e8;
}

.cta-btn:hover::before {
  width: 100%;
}

.cta-btn--hero {
  margin-top: rem(19);

  & svg {
    font-size: rem(16);
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}
