/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  box-shadow: 0px 0px 20px -20px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Hero Style */
.cta-btn--hero {
  border: 2px solid $secondary-color;
  -webkit-text-fill-color: $secondary-color;

  @include breakpoints(medium) {
    border-width: 2px;
    border-style: solid;
    -moz-border-image: -moz-linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    );
    -webkit-border-image: -webkit-linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    );
    border-image: linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    );
    -webkit-border-image-slice: 1;
    border-image-slice: 1;
  }

  &::after {
    background-image: none;

    @include breakpoints(medium) {
      background-image: linear-gradient(
        135deg,
        $primary-color 0%,
        $secondary-color 100%
      );
    }
  }

  &:hover {
    -webkit-text-fill-color: $secondary-color;

    @include breakpoints(medium) {
      -webkit-text-fill-color: $white-color;
      text-decoration: none;
      box-shadow: 0px 0px 20px -18px;
    }

    &::after {
      width: 100%;
    }
  }
}

/* Resume Style */
.cta-btn--resume {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;
    box-shadow: 0px 0px 20px -18px;

    &::after {
      width: 100%;
    }
  }
}

.cta-btn--contact {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: rem(14);
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;

  @include breakpoints(large) {
    font-size: rem(16);
    font-weight: 600;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: rem(50);
    height: rem(50);
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
  }

  &::before {
    top: -2em;
    left: -2em;
  }

  &::after {
    left: calc(100% + 2em);
    top: calc(100% + 2em);
  }

  &:hover::before,
  &:hover::after {
    height: rem(410);
    width: rem(410);
  }

  &:hover {
    color: $white-color;
  }

  &:active {
    filter: brightness(0.8);
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}
