// COLORS
$primary-black: #000;
$primary-black--lighten: rgba(0, 0, 0, 0.6);
$primary-black--lighten-2: rgba(0, 0, 0, 0.85);
$image-shade: #e8e6e6;
$repo-name: #001aff;
$repo-border: #e1e4e8;
$flicy-backgroud: #fff;
$flicky-color: #333;
$flicky-dot: #333;
$backgroud: #fff;

// FONT SIZE
$small-font-size: rem(14);
$default-font-size: rem(16);
$mid-font-size: rem(24);
$big-font-size: rem(36);
