// COLORS
// // $primary-color: #02aab0;
// // $secondary-color: #00cdac;

// // $primary-color: #5a1c93;
// $primary-color: #ff851b;
// $secondary-color: #bc92f8;

// $white-color: #fff;

// $dark-grey: #111111;
// $light-grey: #d2d2d2;

// $bg-accent: #f5f0fc;

// $dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1rem;
$big-font-size: 2.5rem;
$mid-font-size: 1.6rem;
