#about {
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  color: $white-color;
  padding-bottom: 12%;

  @include breakpoints(large) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  .about-wrapper {
    @include breakpoints(medium) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: rem(40);
    }

    &__image {
      flex: 0 0 auto;
      overflow: hidden;
      border-radius: rem(7);
      box-shadow: 0 rem(16) rem(48) #0000002d;
      margin-bottom: rem(102);

      @include breakpoints(medium) {
        width: 40%;
      }
    }

    &__info {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include breakpoints(medium) {
        text-align: left;
        width: 45%;
      }

      &-skills {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 0px 10px;
        font-size: 1.6rem;
        text-align: left;
        padding: 0;
        overflow: hidden;
      }
      &-skill {
        text-align: left;
        &::before {
          content: "\25b9";
          color: #fff;
          font-size: rem(20);
          margin-right: rem(10);
        }
      }

      &-btn {
        display: flex;
        margin-top: rem(16);
      }
    }
  }
}
