#posts {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -10rem;
  padding-top: 15rem;
  padding-bottom: 15rem;

  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.3rem;
    max-width: 1280px;
    margin: 0 auto;

    @include respond(tab-land) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }

    .post {
      border-radius: 1rem;
      overflow: hidden;
      border: 2px solid $secondary-color;

      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 5px 5px 2px $secondary-color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;

      &:hover,
      &:focus {
        box-shadow: 8px 8px 2px $secondary-color;
      }

      .post-header {
        &__image {
          height: 275px;
          max-width: 100%;
          object-fit: cover;
        }
      }

      .post-body {
        text-align: left;
        padding-inline: 3.5rem;
        padding-top: 1rem;
        padding-bottom: 2rem;

        &__info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-tag {
            font-size: 14px;
            padding: 0.3em 1em;
            margin: 0.25em;
            border-radius: 1em;
            border: none;
            outline: none;
            background-color: slategrey;
            color: $white-color;
          }

          &-date {
            margin: 0;
            line-height: 1;
            span {
              margin-right: 0.7rem;
            }
          }
        }

        &__title {
          font-size: 2rem;
          margin-block: 1.7rem;
          text-decoration: underline;
          color: $primary-color;
          display: block;
          line-height: 1.2;
        }

        &__brief {
          font-weight: 400;
        }
      }
    }
  }
}
