#posts {
  background-color: $white-color;
  color: $dark-blue-text;

  @include breakpoints(large) {
    margin-top: rem(-160);
    padding-block: rem(240);
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: rem(1280);
    gap: rem(18);

    @include breakpoints(medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(24);
    }

    @include breakpoints(large) {
      grid-template-columns: repeat(3, 1fr);
    }

    .post {
      border-radius: 1rem;
      overflow: hidden;
      border: 2px solid $secondary-color;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 5px 5px 2px $secondary-color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;

      &:hover,
      &:focus {
        box-shadow: 8px 8px 2px $secondary-color;
      }

      .post-header {
        &__image {
          height: rem(250);
          object-fit: cover;

          @include breakpoints(medium) {
            height: rem(225);
          }

          @include breakpoints(large) {
            height: rem(265);
          }
        }
      }

      .post-body {
        text-align: left;
        padding-inline: rem(14);
        padding-bottom: rem(20);

        &__info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-tag {
            font-size: rem(14);
            padding: 0.3em 1em;
            margin: 0.25em;
            border-radius: 1em;
            border: none;
            outline: none;
            background-color: slategrey;
            color: $white-color;
          }

          &-date {
            margin: 0;
            line-height: 1;
            font-size: rem(14);

            @include breakpoints(medium) {
              font-size: $default-font-size;
            }

            span {
              margin-right: 0.7rem;
            }
          }
        }

        &__title {
          font-size: $default-font-size;
          margin-block: rem(10);
          text-decoration: underline;
          color: $primary-color;
          display: block;
          line-height: 1.2;
        }

        &__brief {
          font-size: rem(14);
        }
      }
    }
  }
}
