.contact {
  $root: &;

  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );

  @include breakpoints(large) {
    -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    padding: rem(120) 0 rem(78) 0;
    margin-bottom: -1px;
    margin-top: rem(-180);
    padding-top: rem(200);
  }

  &__wrapper {
    #{$root}__form-title {
      color: $primary-color;
    }

    #{$root}__form-wrapper {
      padding-block: rem(20);
      background-color: $white-color;
      padding-inline: rem(18);
      border-radius: rem(8);

      @include breakpoints(medium) {
        padding-block: rem(33);
        padding-inline: rem(43);
      }

      @include breakpoints(large) {
        max-width: rem(778);
        margin-inline: auto;
      }

      #{$root}__form {
        display: flex;
        flex-direction: column;

        &-group {
          margin-bottom: rem(16);

          #{$root}__input {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75em + 2px);
            color: #535c62;
            background: none;
            padding: rem(6) rem(15);
            font-size: rem(18);
            line-height: 1.5;
            border: 1px solid #ced4da;
            border-radius: rem(16);
            background-clip: padding-box;
          }
        }

        .textaria {
          width: 100%;
          height: rem(150);
        }
      }
    }
  }
}
