.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding-inline: rem(20);
  padding-block: rem(15);
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: #fff;

  @include breakpoints(medium) {
    display: none;
  }

  &__logo {
    font-size: rem(20);
  }

  &__menu {
    &-button {
      z-index: 4;
      transform: rotateX(180deg);
      cursor: pointer;

      @include breakpoints(medium) {
        display: none;
      }

      svg {
        font-size: rem(20);
      }
    }

    &-items {
      position: fixed;
      z-index: 3;
      top: 0;
      right: -100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100vh;
      align-items: center;
      text-align: center;
      justify-content: center;
      transition: all 500ms ease-in-out;
      background-color: $primary-black--lighten;
      backdrop-filter: blur(rem(7));

      .menu {
        display: flex;
        flex-direction: column;

        &__item {
          margin-bottom: rem(20);

          & a {
            color: $backgroud;
            font-size: rem(25);
            text-transform: capitalize;
            transition: all 200ms ease;

            &:hover,
            &:active,
            &:focus {
              color: $flicky-color;
            }
          }
        }
      }
    }
  }
}

.active {
  right: 0;
}

.desktop-header {
  display: flex;
  justify-content: space-between;
  color: $primary-black;
  padding: rem(40);
  align-items: center;
  width: 100%;

  &__logo a {
    margin: 0;
    font-size: rem(25);
  }

  &__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

    &-item {
      margin: rem(16);
      text-transform: capitalize;
    }

    &-link {
      color: #989898;
      font-weight: 300;
      font-size: $small-font-size;
      display: inline-block;
      margin: 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        border-color: none;
        background: #ab4e4f;
        width: 0%;
        height: 2px;
        transition: all 200ms ease;
      }

      &:hover {
        color: $primary-black;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
