.hero {
  &__title {
    font-size: $mid-font-size;
    font-weight: bold;
  }
  &__discription {
    font-size: $default-font-size;
    font-weight: 300;
    margin-bottom: rem(8);
    width: 100%;
    max-width: rem(600);
    word-break: break-word;
    color: $primary-black--lighten;
  }
}
