#hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 $default-font-size;
  background-color: $white-color;
  color: $dark-blue-text;
  text-align: center;

  @include breakpoints(medium) {
    text-align: left;
  }
  @include breakpoints(large) {
    padding-inline: rem(40);
  }

  .hero-title {
    font-size: rem(38);
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: rem(36);

    @include breakpoints(medium) {
      font-size: rem(44);
      line-height: 1;
    }

    @include breakpoints(large) {
      font-size: rem(60);
    }

    .text-color-main {
      color: $primary-color;
    }
  }

  .hero-cta {
    @include breakpoints(large) {
    }

    & a {
      font-size: rem(19);

      @include breakpoints(medium) {
        font-size: rem(21);
      }
    }
  }
}
