.projects {
  &__header {
    &__title {
      margin-bottom: rem(14);
    }
    &__description {
      max-width: rem(600);
      width: 100%;
      word-break: break-word;
      color: $primary-black--lighten;
      font-weight: 300;
      margin-bottom: rem(8);
    }
  }

  &__item {
    display: none;
  }

  &__list {
    display: grid;
    margin-top: rem(30);
    gap: rem(30);
    grid-template-columns: 1fr;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid $repo-border;
    border-radius: rem(5);
    padding: rem(18) rem(21);

    &-head {
      display: flex;
      align-items: center;
      gap: rem(7);
    }

    &-title {
      line-height: normal;
      font-weight: 500;
      color: $repo-name;
      font-size: $small-font-size;
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }

    &-description {
      font-size: rem(13);
      margin-top: rem(10);
      color: $primary-black--lighten-2;
      font-weight: 300;
      margin-bottom: 0;
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: rem(12);
      margin-top: rem(28);
      color: $primary-black--lighten-2;
      font-family: $RaleWay;
    }

    &-language {
      display: flex;
      gap: rem(4);
      align-items: center;

      &--color {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
      }
    }

    &-date {
      display: flex;
      gap: rem(4);
      align-items: center;
    }
  }
}
