#projects {
  padding: rem(40) 0;

  @include breakpoints(large) {
    margin-top: rem(-130);
    padding-top: rem(170);
  }

  .projects-wrapper {
    max-width: rem(580);
    margin: 0 auto;

    @include breakpoints(large) {
      margin-bottom: rem(30);
      max-width: rem(870);
      margin-inline: auto;
    }

    .project {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      border-radius: rem(15);
      padding: rem(15) rem(13);
      gap: rem(13);
      overflow: hidden;

      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);

      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;

      &:hover,
      &:focus {
        box-shadow: rem(8) rem(8) rem(2);
      }

      @include breakpoints(large) {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: rem(24) rem(35);
      }

      &__text {
        margin-block: rem(10);

        @include breakpoints(large) {
          text-align: left;
          width: 55%;
          margin-block: 0;
        }

        &-title {
          font-size: rem(20);
          font-weight: bold;
          margin: 0;

          @include breakpoints(large) {
            font-size: $mid-font-size;
          }
        }

        & p {
          margin-block: rem(14);

          @include breakpoints(large) {
            font-size: rem(16);
          }
        }

        & p > a {
        }
      }

      &__image {
        border-radius: rem(9);
        overflow: hidden;

        @include breakpoints(large) {
          width: 40%;
        }

        & img {
          object-fit: cover;
        }
      }
    }

    .project + .project {
      margin-top: rem(33);

      @include breakpoints(large) {
        margin-top: rem(40);
      }
    }
  }
}
