#projects {
  background-color: $white-color;
  color: $dark-blue-text;
  padding: rem(80) 0;

  @include breakpoints(large) {
    margin-top: rem(-160);
    padding-top: rem(240);
  }

  .projects-wrapper {
    max-width: 680px;

    @include breakpoints(large) {
      margin-bottom: 10rem;
      max-width: 1000px;
      margin-inline: auto;
    }

    .project {
      display: flex;
      flex-direction: column-reverse;
      border-radius: rem(16);
      padding: rem(48) rem(53);
      gap: rem(29);
      overflow: hidden;
      border: 2px solid $secondary-color;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 5px 5px 2px $secondary-color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;

      &:hover,
      &:focus {
        box-shadow: 8px 8px 2px $secondary-color;
      }

      @include breakpoints(medium) {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: rem(48) rem(86);
      }

      &__text {
        margin-block: rem(30);

        @include breakpoints(medium) {
          text-align: left;
        }

        &-title {
          font-size: rem(32);
          font-weight: bold;
          margin-bottom: rem(29);

          @include breakpoints(large) {
            font-size: $mid-font-size;
          }
        }

        & p {
          font-size: rem(23);

          @include breakpoints(large) {
            font-size: rem(28);
          }
        }

        & p > a {
          color: $secondary-color;
        }
      }

      &__image {
        border-radius: rem(9);
        overflow: hidden;

        & img {
          object-fit: cover;
        }
      }
    }

    .project + .project {
      margin-top: rem(64);
    }
  }
}
