.footer {
  padding-block: rem(20);

  @include breakpoints(larger) {
    padding: rem(26) 0;
  }

  &__text {
    font-size: rem(14);

    a {
      font-size: rem(14);
      transition: all 0.4s;
      display: inline-block;
      border-bottom: 1px solid;

      &:hover,
      &:active {
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  & hr {
    margin: rem(12) auto;
    border: 0;
    width: 50%;
    border-top: 2px solid grey;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: rem(26);
    margin: $default-font-size $default-font-size;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.back-to-top svg {
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
  }
}
