.footer {
  width: 100%;

  &__wrapper {
    font-size: $small-font-size;
    padding: rem(16);

    &-discription {
      text-align: center;

      & a:hover {
        color: $primary-black--lighten;
      }
    }
  }
}
