html {
  // font-size: 62.5%;
  scroll-behavior: smooth;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-weight: 400;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: rem(10);
  height: rem(10);
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #212121;
}
::-webkit-scrollbar-thumb:hover {
  background: skyblue;
}
