html {
  scroll-behavior: smooth;
  line-height: 1.66;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", serif;
  scroll-behavior: smooth;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  color: $primary-black--lighten-2;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: rem(10);
  height: rem(10);
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #212121;
}
::-webkit-scrollbar-thumb:hover {
  background: skyblue;
}
