html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin-inline: auto;

  @media (min-width: 576) {
    max-width: 540px;
  }

  @media (min-width: 768) {
    max-width: 720px;
  }

  @media (min-width: 992) {
    max-width: 960px;
  }

  @media (min-width: 1200) {
    max-width: 1140px;
  }

  @media (min-width: 1400) {
    max-width: 1320px;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: $light-grey;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}
