h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: rem(26);
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: rem(25);
  line-height: 1.1;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background: none;
}

ol,
ul {
  list-style: none;
  margin-bottom: rem(16);
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: rem(27);
}

a {
  font-family: $RaleWay;
  font-size: $default-font-size;
  font-weight: 500;
  color: $primary-black--lighten-2;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.container {
  width: 100%;
  margin-inline: auto;
  // padding-inline: rem(16);

  @media (min-width: rem(576)) {
    max-width: rem(540);
  }

  @media (min-width: rem(768)) {
    max-width: rem(720);
  }

  @media (min-width: rem(992)) {
    max-width: rem(960);
  }

  @media (min-width: rem(1200)) {
    max-width: rem(1140);
  }

  @media (min-width: rem(1400)) {
    max-width: rem(1320);
  }
}
